@import "loading";
.btn-xs {
	padding: 1px 3px;
    font-size: 12px;
    line-height: 1.5;
}
.close {
	display: none;
}

.full-width {
	width: 100%;
}
.bg-light-grey {
	background-color: #f9f9f9;
}
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='date'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 992px) {
	.modal-lg {
	    max-width: 980px;
	}
}	
.width--100 { width: 100%; }

table.dataTable.no-footer {
    border-bottom: 1px solid #e1e1e1;
}

.dataTables_paginate {
    text-align: center;
    margin-top: 25px;
}
.buttons-excel .buttons-html5 {
    margin-bottom: 8px;
    margin-right: 6px;
}
.dataTables_filter {
    display: none; 
}

table.dataTable.no-footer {
    border-bottom: 1px solid #e1e1e1;
}
.remove-btn {
    cursor: pointer;
    padding: 0px;
    background: transparent;
    color: darkred;
    border: none;
}